@if (label) {
<label class="mb-3 text-[14px]/[20px] font-medium">
  {{label}}
</label>
}

<select [formControl]="control" [ngClass]="inputClass"
  class="w-full px-3 py-2 border border-[#D5D7DA] rounded-[0.5rem] text-sm shadow-sm placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent transition">
  <option [value]="defaultValue" disabled selected hidden>{{ placeholder }}</option>
  @for (option of options; track $index) {
  @if (getObject) {
  <option [ngValue]="option">{{ option[displayName] }}</option>
  } @else {
  <option [ngValue]="option[value]">{{ option[displayName] }}</option>
  }
  }
</select>
@if ((control.touched || control.dirty) && control.invalid) {
<p class="text-sm text-red-500">
  {{errorMessage}}
</p>
}
