<div class="flex flex-col items-center justify-center bg-[#ffffff] p-8 px-4">
  <div class="w-full bg-white rounded-xl shadow-lg mx-4 p-8">
    <div class="flex items-center justify-between">
      <h2 class="text-[32px] font-semibold text-[#333333] mb-1">{{mode === 'new'? 'New' : 'Edit'}} Category </h2>
      @if (mode === 'edit') {
      <app-button [buttonDisabled]="isLoading() || isLoadingCategoryInfo()"
        [loading]="isLoading() || isLoadingCategoryInfo()"
        [inputClass]="is_active.value? 'bg-red-500 text-white w-full py-2 px-4 text-white' : 'w-full bg-green-500 hover:bg-primary-hover py-2 px-4 text-white'"
        (buttonClick)="onToggleCategory()">{{ is_active.value?
        'Deactivate' : 'Activate'}}
        Category</app-button>
      }
    </div>
    @if (errorMessage) {
    <p class="text-[#F66E6E] text-center text-[1rem]/[1.5rem]">
      {{errorMessage}}
    </p>
    }

    @if (isLoadingCategoryInfo() === false ) {
    <form [formGroup]="form">
      <!-- Name -->
      <div class="mb-4">
        <app-input [type]="'text'" [id]="'name'" [autocomplete]="'off'" [autofocus]="true" label="Category Name"
          placeholder="Input category name" [control]="name" [useDefaultError]="true"
          errorMessage="Please enter a valid name.">
        </app-input>
      </div>

      <!-- Columns -->
      <div formArrayName="columns">
        <div class="flex justify-between">
          <h2 class="text-[32px] font-semibold text-[#333333] mb-1">Columns</h2>
          <app-button [buttonDisabled]="isLoading()" [loading]="isLoading()" (buttonClick)="addColumn()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
              stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <line x1="12" y1="5" x2="12" y2="19" />
              <line x1="5" y1="12" x2="19" y2="12" />
            </svg>

            <span>
              Add another column
            </span>
          </app-button>

        </div>
        @for (column of columns.controls; track $index; let i = $index) {
        <div class="my-3">
          <app-input [type]="'text'" [id]="'column-{{ i }}'" [autocomplete]="'off'" [autofocus]="true" label="Column:"
            placeholder="Input column-{{ i + 1 }}" [control]="getColumn(i)" [useDefaultError]="true"
            errorMessage="Please enter a valid name.">
          </app-input>
          <!-- The repeated column template -->
          <!-- <label for="column-{{ i }}">Column:</label>
        <input id="column-{{ i }}" type="text" [formControlName]="i" /> -->
        </div>
        }
      </div>


      <!-- Submit -->
      <app-button [buttonDisabled]="isLoading()" [loading]="isLoading()" (buttonClick)="onSubmit()">
        Continue
      </app-button>
    </form>
    } @else {
    <div class="h-[50vh] flex justify-center items-center">
      <div>
        <div class="flex items-center justify-center">
          <span class="table-spinner"></span>
        </div>
        <p class="text-center mt-8">Please wait...</p>
      </div>
    </div>
    }


  </div>
</div>