<div class="p-6 bg-white rounded-lg shadow space-y-6">
  <div class="flex justify-between items-center">
    <div>
      <h2 class="text-xl font-semibold text-gray-800">Category List</h2>
      <p class="text-gray-600 mb-6">View, filter, and manage all available data logs in the system.</p>
    </div>
    <app-button *appHasPermission="'app.can_create_category'" [routerLink]="['/main/category-create']"
      routerLinkActive="router-link-active"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <line x1="12" y1="5" x2="12" y2="19" />
        <line x1="5" y1="12" x2="19" y2="12" />
      </svg>

      <span>
        New Category
      </span>
    </app-button>
  </div>

  <app-table-filters [filterArray]="isActiveArray" (applyFilters)="onApplyFilter($event)"></app-table-filters>

  <div class="mt-5">

    @if (tableData.length > 0 && !isLoading) {
    <!-- Table -->
    <app-table [columns]="tableColumns" [data]="tableData" [menuTemplate]="rowMenu"
      (menuOpened)="handleMenuOptions($event)" (rowClick)="handleRowClick($event)"></app-table>

    }
  </div>
  @if (isLoading) {
  <div class="h-[50vh] flex justify-center items-center">
    <div>
      <div class="flex items-center justify-center">
        <span class="table-spinner"></span>
      </div>
      <p class="text-center mt-8">Please wait...</p>
    </div>
  </div>
  }
  @if (tableData.length === 0 && !isLoading) {
  <div>
    <app-empty-state></app-empty-state>
  </div>
  }
  <app-pagination [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [currentPage]="currentPage"
    (pageChanged)="onPageChange($event)"></app-pagination>
</div>

<mat-menu #rowMenu="matMenu">
  <div class="bg-white">
    <button *appHasPermission="'app.can_download_template'" (click)="downloadTemplateWithHeaders()" mat-menu-item>
      Download Template
    </button>
    <button *appHasPermission="'app.can_update_category'" [routerLink]="['/main/category-edit', selectedCategory?.id]"
      routerLinkActive="router-link-active" mat-menu-item>
      Edit
    </button>
  </div>
</mat-menu>