<div class="p-6 bg-white rounded-lg shadow space-y-6">
  <div class="flex justify-between items-center">
    <div>
      <h2 class="text-xl font-semibold text-gray-800">Logs</h2>
      <p class="text-gray-600 mb-6">View, filter, and manage all available data logs in the system.</p>
    </div>

    <app-button *appHasPermission="'app.can_create_category_data'" [routerLink]="['/main/data-upload']"
      routerLinkActive="router-link-active">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2"
        stroke-linecap="round" stroke-linejoin="round">
        <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4" />
        <polyline points="17 16 12 11 7 16" />
        <line x1="12" y1="11" x2="12" y2="21" />
      </svg>

      <span>
        New Data Upload
      </span>
    </app-button>
  </div>

  <app-table-filters (applyFilters)="onApplyFilter($event)"></app-table-filters>


  <div class="mt-5">
    @if (tableData.length > 0 && !isLoading) {

    <app-table [columns]="tableColumns" [data]="tableData" (rowClick)="handleRowClick($event)"></app-table>
    }
  </div>

  @if (isLoading) {
  <div class="h-[50vh] flex justify-center items-center">
    <div>
      <div class="flex items-center justify-center">
        <span class="table-spinner"></span>
      </div>
      <p class="text-center mt-8">Please wait...</p>
    </div>
  </div>
  }
  @if (tableData.length === 0 && !isLoading) {
  <div>
    <app-empty-state></app-empty-state>
  </div>
  }
  <app-pagination [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [currentPage]="currentPage"
    (pageChanged)="onPageChange($event)"></app-pagination>
</div>